html {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: #0084fd;
    color: white;
}

nav {
    padding: 30px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
}

/* * SERVICES * */
.services  {
    background-color: white;
    margin-top: 60px;
    padding-bottom: 50px;
}

.services .card {
    min-height: 500px;
    margin-bottom: 30px;
    background-color: #b5ddff;
}


/* * PLANNING * */
.planning {
    background-color: #9792e4;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.planning .card {
    background-color: white;
    color: black;
    border-radius: 60px;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
}


/* ! RESPONSIVE ! */

/* TABLET */
@media screen and (min-width: 768px) {

    /* SERVICES */
    .services > .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .services .card {
        width: calc((100% / 3) - 20px);
        border: 1px dashed black;
        margin: 10px;
    }

    .services > .container .card:first-child {
        background-color: pink;
        width: calc((100% / (3/2)) - 20px);
    }
}


/* DESKTOP */
@media screen and (min-width: 1024px) {
    .container {
        padding-left: 200px;
        padding-right: 200px;
    }
}