/* * GENERICS * */
html {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: #0084fd;
    color: white;
}

nav {
    padding: 30px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    border-radius: 10px;
}

/* * SERVICES * */
.services  {
    background-color: white;
    margin-top: 60px;
    padding-bottom: 50px;
}

.services .card {
    min-height: 500px;
    margin-bottom: 30px;
    background-color: #b5ddff;
}


/* * PLANNING * */
.planning {
    background-color: #9792e4;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.planning .card {
    background-color: white;
    color: black;
    border-radius: 60px;
    text-align: center;
    padding: 10px 20px;
    margin-top: 40px;
}


/* * TESTIMONIALS * */
.testimonials {
    background-color: white;
    text-align: center;
}

.testimonials .container {
    gap: 20px;
}

.testimonials h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.testimonials .card {
    background-color: #9792e4;
    color: white;
    padding: 20px 10px;
}

.testimonials .card img {
    clip-path: circle();
    
}

.testimonials__quote::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cstyle%3Esvg%7Bfill:%23ffffff%7D%3C/style%3E%3Cpath d='M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z'/%3E%3C/svg%3E");
    display: inline-block;
    margin-right: 5px;
}

.testimonials__quote::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cstyle%3Esvg%7Bfill:%23ffffff%7D%3C/style%3E%3Cpath d='M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z'/%3E%3C/svg%3E");;
    display: inline-block;
    margin-left: 5px;
}






/* ! RESPONSIVE ! */

/* TABLET */
@media screen and (min-width: 768px) {

    /* SERVICES */
    .services > .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .services .card {
        width: calc((100% / 3) - 20px);
        border: 1px dashed black;
        margin: 10px;
    }

    .services > .container .card:first-child {
        background-color: pink;
        width: calc((100% / (3/2)) - 20px);
    }

    
    /* PLANNING */


    /* TESTIMONIALS */
    .testimonials .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
    }

    .testimonials .card img {
        width: 200px;
        height: auto;
        display: block;
    }
}


/* DESKTOP */
@media screen and (min-width: 1024px) {
    .container {
        width: 80%;
    }

    /* PLANNINg */
    .planning .container {
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
        width: 60%;
    }

    .planning .container div {
        width: calc(50% - 20px);
    }

    .planning .card {
        margin-top: 100px;
    }


}